.navbar{
  color: white;
}
.map{
  background: purple;
  height: 400px;
}
.tabs{
  margin-top: 20px;
}
body{
  background: #f1f1f1;
}
.posts{
  background: white;
  margin: 10px;
  border-radius: 0.5em;
}
.pro{
  height: 100%;
  width: 100%;
}
.title{
  background: white;
  /*height: 50px;*/
  /*padding: 10px;*/
}
span{
  float: right;
}
.search{
  background: white;
  /*height: 50px;*/
  /*padding: 10px;*/
  /*float: right;*/
}
.uploads{
  padding: 20px;
}
.box{
  background: white;
  padding: 10px;
  margin: 10px;
}
#sidebar{
  min-width: 250px;
  max-width: 250px;
  left: -250px;
  background: pink;
}
.wrapper{
  display: flex;
}
.container{
  padding: 0;
}
.row{
  padding: 0;
}
#sidebar img{
  padding: 10px;
}
.sidebar-header{
  height: 50px;
  text-align: center;
}

#sidebar ul li{
  list-style: none;
  padding: 10px;
  
}
#sidebar ul li a{
  color: white;
  font-size: 18px;
}
nav{
  background: #363440;
}
#sidebar{
  background: #363440;
  color: white;
  
}