{% extends 'base.html' %}
{% load static %}
{% block content %}
{{block.super}}
{% load bootstrap3 %}
  <div class="container">
    <div class="map" id="map">

    </div>
  </div>
  <div class="container tabs">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Top Rated</a></li>
      <li role="presentation"><a href="#">New Releases</a></li>
      <li role="presentation"><a href="#">Trending</a></li>
    </ul>
    <div class="">
      <div class="row posts">
        <div class="col-md-2">
          <img src="profile.jpg" class="img-responsive img-thumbnail" alt="">
        </div>
        <div class="col-md-9">
          <h5>Crazy Monkey Ent</h5>
          <span class="right">1000 likes</span>
        </div>
        <div class="col-md-1">
          <a href="#" class="btn btn-lg btn-info">Like</a>
        </div>
      </div>
      <div class="row posts">
        <div class="col-md-2">
          <img src="profile.jpg" class="img-responsive img-thumbnail" alt="">
        </div>
        <div class="col-md-9">
          <h5>Crazy Monkey Ent</h5>
          <span class="right">1000 likes</span>
        </div>
        <div class="col-md-1">
          <a href="#" class="btn btn-lg btn-info">Like</a>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript" src="{% static 'css/styles.css' %}">
</script>

{% endblock %}
{% block scripts %}
{{block.super}}
{% bootstrap_javascript %}
{% endblock %}